/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

#root {
    display: contents;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
        -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--gray-900);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

:root {
    --gray-50: #f1f1f1;
    --gray-300: #ccc;
    --gray-400: #aaa;
    --gray-500: #999;
    --gray-600: #666;
    --gray-700: #444;
    --gray-800: #333;
    --gray-900: #222;

    --yellow: #d4aa00;
    --green: #28a745;
}

button {
    font: inherit;
    cursor: pointer;
}
html {
    height: 100%;
}

a {
    color: var(--gray-50);
}

.notify {
    position: fixed;
    z-index: 100;
    background: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: var(--gray-700);
    top: 3rem;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 700;
    transition: all 200ms;
    &:empty {
        display: none;
    }
}

.app {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    overflow: hidden;
    max-width: 412px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: center;
        font-size: 2rem;
        margin: 0.5rem 0 0.25rem 0;
        color: var(--gray-400);

        span {
            color: white;
            display: inline-block;
            transition: all 3s;
            transform: scale(1, 1) translateY(0);
        }
    }

    &.loading h1 span {
        transition: none;
        animation: loader 2s ease-in-out infinite;
    }

    @keyframes loader {
        0% {
            transform: scale(1, 1) translateY(0);
        }
        10% {
            transform: scale(1.1, 0.9) translateY(0);
        }
        30% {
            transform: scale(0.9, 1.1) translateY(-1rem);
        }
        50% {
            transform: scale(1.05, 0.95) translateY(0);
        }
        57% {
            transform: scale(1, 1) translateY(-0.07rem);
        }
        64% {
            transform: scale(1, 1) translateY(0);
        }
        100% {
            transform: scale(1, 1) translateY(0);
        }
    }

    main {
        display: contents;
    }

    .overlay {
        z-index: 1000;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(black, 0.8);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 4rem 1rem;

        &:empty {
            display: none;
        }

        .modal {
            max-height: 100%;
            overflow: hidden;
            width: 500px;
            background-color: var(--gray-800);
            border-radius: 0.25rem;
            display: flex;
            flex-direction: column;

            .body {
                padding: 1rem 1rem 0;
                color: var(--gray-300);
                overflow: auto;
                overflow-x: hidden;
                word-break: break-word;
                font-size: 18px;

                h2 {
                    color: white;
                    text-shadow: 0 1px 0 rgb(255 255 255 / 40%);
                }

                .subtitle {
                    font-size: 1.1rem;
                    opacity: 0.9;
                }

                .success,
                .fail {
                    text-align: center;
                }

                h3 {
                    font-size: 3rem;
                    margin: 0;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                ol {
                    margin: 0;
                    padding: 0 0 0 2rem;
                }

                .part-of-speech {
                    span {
                        background-color: var(--gray-600);
                        padding: 0.25rem;
                        display: inline-block;
                    }
                }

                .example {
                    font-style: italic;
                }
            }

            .footer {
                padding: 1rem 2rem 2rem;
                height: 5rem;
                text-align: center;
            }

            button {
                padding: 0.5em 0.75em;
                font-weight: 700;
                font-size: 1.3rem;
                background: var(--gray-600);
                border: none;
                border-radius: 0.25rem;
                color: white;
                text-shadow: 0 1px 0 rgb(255 255 255 / 40%);
            }
        }
    }

    .attempts {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        margin: 0 1rem;

        .attempt {
            display: flex;
            flex-direction: row;
            margin: 0;

            .char {
                display: flex;
                position: relative;
                width: 20%;
                margin: 0.25rem;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 2.5rem;

                &:before {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }

                transition: transform calc(0.707s / 4);
                text-decoration: none;

                &:active {
                    transform: scale(0.975);
                }

                transform-style: preserve-3d;
                transition: 0.707s transform;

                .front,
                .back {
                    content: '';
                    backface-visibility: hidden;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .front {
                    border: solid 2px var(--gray-600);
                }

                .back {
                    border: none;
                    background-color: var(--gray-600);
                    transform: rotateX(-180deg);
                }

                &.yellow {
                    .back {
                        background-color: var(--yellow);
                        color: white;
                    }
                }

                &.green {
                    .back {
                        background-color: var(--green);
                        color: white;
                    }
                }

                &.flip {
                    transform: rotateX(-180deg);
                }
            }
        }
    }

    .keyboard {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 0.25rem auto 0;
        width: 100%;

        > div {
            display: flex;
            flex-direction: row;
            margin: 2px 8px;

            &:nth-child(2) {
                margin: 0 23px;
            }

            button {
                cursor: pointer;
                text-transform: uppercase;
                padding: 0;
                height: 3rem;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 0px;
                overflow: hidden;
                font-weight: bold;
                font-size: 1.2rem;
                margin: 0.35rem 3px;
                background-color: var(--gray-600);
                color: white;
                border: none;
                border-radius: 0.25rem;
                transition: all 200ms;

                &[data-key='enter'] {
                    font-size: 0.9rem;
                    flex-basis: 20px;
                }

                &[data-key='backspace'] {
                    flex-basis: 20px;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &[disabled],
                &:disabled {
                    opacity: 0.5;
                    pointer-events: none;
                }

                &:active {
                    background-color: var(--gray-700);
                }

                svg {
                    fill: white;
                    width: 1.5rem;
                    pointer-events: none;
                }

                &.lg {
                    width: 14%;
                }

                &.yellow {
                    background-color: var(--yellow);
                    color: white;
                }

                &.green {
                    background-color: var(--green);
                    color: white;
                }

                &.none {
                    background-color: var(--gray-800);
                }
            }
        }
    }
}

.horizontal-shake {
    animation: horizontal-shaking 0.35s infinite;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

footer {
    margin: 0.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;

    .version {
        opacity: 0.8;
        font-size: 80%;
    }

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
    }

    svg {
        fill: var(--gray-400);
        height: 1rem;
        margin: 0 0.125rem;
        vertical-align: text-top;
    }
}

.landscape-only {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: var(--gray-500);
    display: none;

    h1 {
        margin: 0;
        span {
            color: white;
            display: inline-block;
            transition: all 3s;
            transform: scale(1, 1) translateY(0);
        }
    }
    p {
        margin: 1rem 0 1.5rem;
    }

    svg {
        fill: var(--gray-500);
        width: 5rem;
        margin: 0 auto;
    }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    .app {
        display: none !important;
    }
    .landscape-only {
        display: flex;
    }
}
